@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* GLOBALS */

/* CSS VAR */

:root {
  --primary-color: #AA2525;
  --primary-color-hover: #DC143C;
  --secondary-color: #55aa55;
  --secondary-color-hover: #55CC55;
  --light-color: #a4a4a4;
  --link-color: #CCC;
  --bg-light: #FFFFFF;
  --bg-light-text: #606060;
}
html{
  scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #252529;
    color: white;
    margin: 0;
    line-height: 1.6;
  }

  section{
    width: 100%;
    min-height: 60vh;
  }
  
  footer{
    
    text-align: center;
  }

  footer p{
    color: var(--link-color);
  }

  footer > p > a{
    color: var(--primary-color);
  }

  .section{
    padding: 2rem 0;
  }

  .section-head{
    font-size: 2.5rem;
    margin: 0;
  }
  
 img{
  width: 40%;
 }

 a {
   text-decoration: none;
   color: var(--link-color);
 }
a.email:hover{
  color:var(--primary-color-hover);
}

#backToTop{
  position: fixed;
  top: 92vh;
  left: 90vw;
  font-size: 2em;
  color:var(--primary-color);
}

#backToTop:hover{
  color:var(--primary-color-hover);
}

@-webkit-keyframes bounce {
  0% {
transform: scale(1,1) translate(0px, 0px);
}

30%{
transform: scale(1,0.9) translate(0px, 5px); 
}

75%{
transform: scale(1,1.1) translate(0px, -25px); 
}

100% {
transform: scale(1,1) translate(0px, 0px);
}
}

.bounce {
-webkit-animation: bounce 1.5s infinite;
}

/* Utility Classes */
/* --containers */
.container{
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.lead{
  font-size: 1.3em;
}

.mb {
  margin-bottom: 1rem;
}

.mt{
  margin-top: 1rem;
}

/* --text */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--bg-light-text);
}

.text-light {
  color: var(--light-color);
}
 /* --buttons */
 .btn {
  padding: 1rem;
  color: var(--link-color);
  display: inline-block;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-hover);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-secondary:hover {
  background: var(--secondary-color-hover);
}

/* /Utility Classes */

  /* NAV */
  nav {
    position: fixed;
    height: 46px;
    width: 100%;
    background-color: #333;
    color: #eee;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav li {
    display: inline;
    float: left;
  }
  nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
  }
  nav li:hover {
    background-color: #444;
  }
  nav a#openup {
    display: none;
  }

   /* Showcase */
#showcase{
  margin: 0;
  padding: 0;
  background: url('../img/showcase2.jpg') no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

#showcase .container{
  margin-top: 25vh;
}

#showcase h1{
  font-size: 4em;
  margin-bottom: 0;
}

#showcase h2{
  font-size: 2em;
}

/* Music */

/* Video */
.bg-light {
  background: var(--bg-light);
}


  
  @media screen and (max-width: 580px) {
    .hide-on-mobile{
      display: none;
    }

    #showcase{
      height: 50vh;
    }

    #showcase .container{
      margin-top: 15vh;
    }

    #showcase h1 {
      font-size: 3rem;
    }

    #showcase h2{
      font-size: 1.5rem;
    }
    h1 {
      font-size: 2.8em;
    }
  
    nav {
      height: auto;
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav li {
      width: 100%;
      float: left;
      position: relative;
    }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #333;
      border-bottom: 1px solid #555;
    }
    nav a:hover {
      background: #444;
    }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px;
    }
    nav a#openup {
      display: block;
      background-color: #333;
      width: 100%;
      position: relative;
    }
  }
  .cf:before, .cf:after {
    content: "";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    zoom: 1;
  }
  
  /* For IE 6/7 (trigger hasLayout) */
  